.footer {
  background-color: $blue-dark-color;
}

.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 200px;

  li {
    list-style: none;
  }
}

.footer_title {
  font-size: 2rem;
}
