.header {
  background-color: $primary-color;
}

.header__button {
  font-size: 1.5rem;
}

.header__button:focus {
  box-shadow: none;
}

.header__title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.header__title:hover {
  color: white;
}
