.hero-container {
  background-color: $primary-color;
  h1 {
    color:#E5E5E5;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -.025em;
    margin: auto auto 24px;
    text-align: center;
    padding-top: 76px;
    width: 656px;
  }
  p {
    color: #FFF;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 36px;
    max-width: 540px;
    margin: auto auto 32px;
  }
  button {
    background-color:$secondary-color;
    border: none;
    border-radius: 25px;
    color:#E5E5E5;
    font-size: 1.8rem;
    font-weight: 700;
    height: 46px;
    line-height: 24px;
    margin: auto auto 60px;
    width: 293px;
  }
}

.maps-container {
  background-color:$blue-color;
  h2 {
    color:#E5E5E5;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 48px;
    margin: auto auto 24px auto;
    padding: 70px 40px 0px;
  }
  p {
    color:#E5E5E5;
    font-size: 2rem;
    font-weight: 300;
    line-height: 32px;
    max-width: 540px;
    margin: 0px 0px 24px 0px;
    padding: 0px 40px 0px;
  }
  button {
    background-color:$blue-color;
    border:solid 1px #E5E5E5;
    border-radius: 25px;
    color: #E5E5E5;
    font-size: 1.8rem;
    font-weight: 700;
    height: 40px;
    margin: 0px 0px 60px 40px;
    width: 200px;
  }
}

.search-container {
  background-color:$blue-color;
  h2 {
    color:#E5E5E5;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 48px;
    margin: auto auto 24px auto;
    padding: 70px 40px 0px;
  }
  p {
    color:#E5E5E5;
    font-size: 2rem;
    font-weight: 300;
    line-height: 32px;
    max-width: 540px;
    margin: 0px 0px 24px 0px;
    padding: 0px 40px 0px;
  }
  button {
    background-color:$blue-color;
    border:solid 1px #E5E5E5;
    border-radius: 25px;
    color: #E5E5E5;
    font-size: 1.8rem;
    font-weight: 700;
    height: 40px;
    margin: 0px 0px 60px 40px;
    width: 200px;
  }
}

/* Media Queries */

@media (min-width: 320px) {

.hero-container{
  background-color: $primary-color;
  h1{
    color:#E5E5E5;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -.025em;
    /* margin: auto auto 24px; */
    text-align: center;
    padding: 70px 30px 10px 37px;
    max-width: 347px;
  }
  p{
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 26px;
    padding: 10px 12px 10px 25px;
    max-width: 377px;
  }
  button {
    background-color:$secondary-color;
    border: none;
    border-radius: 25px;
    color:#E5E5E5;
    font-size: 1.8rem;
    font-weight: 700;
    height: 46px;
    margin-bottom: 33px;
    width: 293px;
  }
 }

}