* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nanum Gothic", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  color: $primary-color;
}

.container-fluid {
  padding: 0;
}
