* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nanum Gothic", sans-serif;
  margin: 0;
  color: white;
  font-weight: bold;
}

p {
  color: white;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

input {
  border: none;

  &:focus {
    outline: none;
  }
}

main {
  min-height: calc(100vh - 52px - 97px);
}

@media (max-width: 768px) {
  main {
    min-height: calc(100vh - 52px - 210px);
  }
}

.container-fluid {
  padding: 0;
}
